<div class=" p-4 cat-list">
    <div class="card " >
        <div class="card-header" style="height: 3rem;">
            ALL CATEGORIES
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#" >Birthday cakes</a></li>
          <li class="list-group-item"><a href="#" >Print Cakes</a></li>
          <li class="list-group-item"><a href="#" >Wedding Cakes</a></li>
          <li class="list-group-item"><a href="#" >Cup Cakes</a></li>
          <li class="list-group-item"><a href="#" >Gateaux Cakes</a></li>
          <li class="list-group-item"><a href="#" >Cartoon Cakes</a></li>
          <li class="list-group-item"><a href="#" >Chocolate</a></li>
          <li class="list-group-item"><a href="#" >Cakes for Father</a></li>
          <li class="list-group-item"><a href="#" >Cakes for Mother</a></li>
          <li class="list-group-item"><a href="#" >Cakes for Boys</a></li>
          <li class="list-group-item"><a href="#" >Cakes for Girls</a></li>
          <li class="list-group-item"><a href="#" >Cake for Him</a></li>
          <li class="list-group-item"><a href="#" >Cake for Her</a></li>
        </ul>
        <div class="card-footer">
            More Categories +
          </div>
      </div>
    
    
</div>
