<div class="cat-list">
    <div class="cat-header">
        <h5>ALL CATEGORIES</h5>
    </div>
    <div class="cat-items">
        <ul>
            <li><a href="#" >Birthday cakes</a></li>
            <li><a href="#" >Print Cakes</a></li>
            <li><a href="#" >Wedding Cakes</a></li>
            <li><a href="#">Cup Cakes</a></li>
            <li><a href="#">Gateaux Cakes</a></li>
            <li><a href="#">Cartoon Cakes</a></li>
            <li><a href="#">Chocolate</a></li>
        </ul>
    </div>
</div>
