<section id="navBar">
    <nav class="d-flex navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand col-sm-3 col-4" href="#"><img src="assets\logo.jpg"></a>
          <div class="search-bar col-sm-7 col-4">
               <form class="d-flex">
            <input class="search-term form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="search-btn btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          </div>
          <div class=" d-flex nav-icons col-sm-2 col-4">
            <i class="fa-solid fa-user"></i>  
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <p>RS.0</p>
          </div>
          
          
        </div>
      </nav>
</section>
